<div class="mb-2">
       <a id="button-what"
          href="https://api.whatsapp.com/send?phone=50364235306&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios" target="_blank">
                  <i class="fab fa-whatsapp mr-2"></i></i>
      </a>
 </div>

<div>
  <button class="" id="button-up"><i class="fas fa-arrow-alt-circle-up"></i></button>
</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/adalberto77711861" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>


      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://api.whatsapp.com/send?phone=50364235306&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios" role="button"
        ><i class="fab fa-whatsapp"></i></a>


    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Somos una empresa que se preocupa por tu seguridad y la seguridad de sus clientes por eso contamos con personal capacitado, para brindarte un servicio confiable y de muy buena cálidad.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces:</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Inicio</a>
            </li>
            <li>
              <a href="/servicios" class="text-white">Servicios</a>
            </li>
            <li>
              <a href="/contacto" class="text-white">Contacto</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contáctenos:</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://api.whatsapp.com/send?phone=50364235306&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios" class="text-white"><i class="fab fa-whatsapp mr-2"></i> 6423-5306</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fab fa-google mr-2"></i
      >limpiezafosaES@gmail.com</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fab fa-facebook-f mr-2"></i
      >Limpieza de fosas sépticas 24/7</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">Limpieza de Fosa Beatriz</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->




<script src="/js/main.js"></script>

<!-- JS, Popper.js, and jQuery -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>


</body>

</html>