<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="Limpieza de fosas septicas El Salvador" />
		<meta
			name="keywords"
			content="Limpieza, Fosas, sépticas, malos olores, El Salvador"
		/>
		<meta
			property="og:title"
			content="Limpieza de Fosas Septicas en El Salvador 【6423 5306】【 24 HORAS 】"
		/>
		<meta property="og:type" content="website" />
		<meta
			property="og:description"
			content="Limpieza de Fosas Septicas en El Salvador. Dando un servicio de Calidad en El Salvador, ayudándote a resolver emergencias 24 horas, Llámanos ☎ 6423-5306"
		/>
		<meta name="robots" content="index" />
		<meta name="robots" content="follow" />
		<title><%= title %></title>
		<link rel="icon" href="/images/icono.png" />
		<link rel="stylesheet" href="/css/main.css" />
		<!-- CSS only -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<!-- jquery -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>

		<script
			src="https://kit.fontawesome.com/02c22949f6.js"
			crossorigin="anonymous"
		></script>
	</head>
</html>
