<div class="container">
    <main role="main">
        <section class="row m-2 justify-content-center mb-4">
            <div class="col-md-12">
                <div class="col">
                    <div class="sppb-column-addons">
                        <div class="flex">
                            <div class="header text-center">
                                <h1 class="m-2 titulo"><strong>LIMPIEZA DE FOSAS EN EL SALVADOR</strong></h1>
                                <hr class="linea">
                                <h2 class="mt-2"><strong><b>TÚ MEJOR OPCIÓN EN EL MERCADO</b></strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-4">
                        <div class="card marginSection mt-3">
                            <div class="card-title p-1">
                                <h4 class="text-center"><span><i class="far fa-check-square m-2"></i></i>Servicios Especializados y Seguros</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-center p-2">Nuestro personal esta especializado para brindar servicios de cálidad, confiables y seguros.</p>
                            </div>
                            <div class="text-center m-2 animate text-primary"><i class="fas fa-user-shield fa-4x"></i></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card marginSection mt-3">
                            <div class="card-title p-1">
                                <h4 class="text-center"><span><i class="far fa-check-square m-2"></i></span>Servicios de Alta Cálidad y Confiable</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-center p-2">Nuestro objetivo principal es ofrecer servicios de más alta cálidad en el mercado a precios competitivos.</p>
                            </div>
                            <div class="text-center m-2 animate text-primary"><i class="fas fa-handshake fa-4x"></i></div>
                            </div>
                        
                    </div>
                    <div class="col-sm-4">
                        <div class="card marginSection mt-3">
                            <div class="card-title p-1">
                                <h4 class="text-center"><span><i class="far fa-check-square m-2"></i>Servicio Rápido, Seguro y Eficaz.</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-center p-2">Nuestros servicios son rápidos, seguros y especializados gracias a nuestro personal capacitado.</p>
                            </div>
                            <div class="text-center  m-2 animate text-primary"><i class="fas fa-shipping-fast fa-4x"></i></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3 color-ligth">
        </section>
    </main>
</div>