<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="textService">En <strong>Adalberto Rivera Services</strong> será un placer atenderte</h4>
                <p class="parrService">
                            Nuestro lema es la confianza y queremos estar en contácto contigo, dandote el mejor servicio, brindandote seguridad y rápidez.
                </p>
                <p class="parrService">Nuestros servicios de cálidad y años de experiencia nos consolidan como una de las mejores empresas en el area de limpieza, gracias
                    a nuestros esmerados procesos de mejora continúa ofrecemos los mejores métodos de <strong>Limpieza de fosas séptica, trampa de grasa y mucho mas</strong>
                </p>
            </div>
            <div class="col-md-6">
                <img src="/images/limpiezaFosa.png" class="img-fluid embed-responsive" height="200">
            </div>
        </div>
    </div>
    <!-- formulario -->
    <div class="container center">
        <div class="row mt-4">
            <div class="col-md-7 col-center">
                <div class="card shadow-lg p-2 pb-1 mb-5 bg-white">
                    <div class="card-header bg-info text-white text-center">
                        <h4>Nuestras Oficinas:</h4>
                    </div>
                    <div class="card-body pb-2">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15520.856541935877!2d-88.1614337!3d13.4608936!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f76368e38dec261!2sLimpieza%20de%20Fosas%20Septicas%20Rivera!5e0!3m2!1ses!2ssv!4v1653024524591!5m2!1ses!2ssv" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col services-text">
                    <div class="col">
                    <img src="/images/contactenos.png" class="img-fluid" alt="Responsive image">
                </div>
                    <div class="col p-2 mb-3">
                        <h4 class="mt-2">Somos los mejores en nuestra área</h4>
                        <h4 class="mt-2">Contáctenos:</h4>
                        <!-- Grid column -->
                        <h5>Solicita una llamada a WhatsApp o directo y nosotros con gusto te la devolveremos.</h4>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div>
                                <p>WhatsApp:
                                    <a href="https://api.whatsapp.com/send?phone=50364235306&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios" target="_blank">
                                        <button type="button" class="btn btn-success border-white">
                                            <span>
                                                <i class="fab fa-whatsapp mr-2"></i></i>+(503) 6423-5306
                                            </span>
                                        </button>
                                    </a>
                                </p>
                                
                                <p>Teléfono:
                                    <a href="tel:50364235306" target="_blank">
                                        <button type="button" class="btn btn-info border-white">
                                            <span>
                                                <i class="fas fa-phone-alt mr-2"></i></i>+(503) 6423-5306
                                            </span>
                                        </button>
                                    </a>
                                </p>
                            </div>

                        </div>

                        </div>
                    </div>

                </div>
                

            </div>
        </div>
    </div>
    </div>
    <script src="/js/validate.js"></script>
    <%- include('../includes/end.ejs') %>