<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <%- include('../includes/section.ejs') %>
    <div class="container">
        <div>
            <h1 class="text-center titulo">En Servicios Diversos Beatriz</h1>
            <hr class="linea">
            <h3 class="text-center">Somos profesionales en el área</h3>
        </div>
    </div>

    <div class="container">
        <div class="row" style="display: flex">
            <div class="col-md-6 m-2">   
                <div class="banner">
                    <img src="/images/malosOlores_.jpg" class="img-responsive mostrandoImg m-2" width="100%" height="100%">

                </div> 
                <!-- <div class="col mb-4">
                        <div class="col align-self-end bannerIndex pt-3 pb-1">
                            <div class="text-center animate text-primary"><i class="fas fa-medal fa-3x"></i></div>
                            <div class="col mt-2 text-center"> <h4 class="font-weight-bold">Contamos con servicio 24/7</h4></div>
                            <div class="col mt-3 mb-3">
                                <p class="text-center">Contamos con servicio las 24 horas y los 7 dias de la semana.</p>
                            </div>
                        
                        </div>
                </div>            -->
            </div>
            <div class="col m-3">
                <div class="cold-md-4">
                    <h3 class="subtitle"> <span>¿Tienes malos olores, necesitas que alguien limpie por tí?</span> </h3>
                </div>
                <div class="m-3 text-element">
                    <p> <span style="font-size: 18px;">Servicios Diversos Beatriz</span> es una de las mejores empresas del país en el aréa <span style="font-size: 20px;">Limpieza de Fosas Sépticas</span>
                        ha proporcionado sus servicios de <span style="font-size: 18px;">limpieza de fosas</span> de alta calidad con mas de 20 años de experiencia. Con personal altamente capacitado.                   </p>
                </div>
                <!-- <div class="row mt-4">
                    <div class="col">
                        <div class="col mt-2 text-center"> <h5 class="font-weight-bold">Contáctanos:</h5></div>
                        <div class="col mt-3">
                            <a href="tel:50377711861" target="_blank">
                                        <button type="button" class="btn btn-info border-white">
                                            <span>
                                                <i class="fas fa-phone-alt mr-2"></i>+(503) 7771-1861
                                            </span>
                                        </button>
                                    </a>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="col mt-2 text-center"><h5 class="font-weight-bold">Solicita una cotización:</h5></div>
                        <div class="col mt-3">
                            <a href="https://api.whatsapp.com/send?phone=50377711861&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios" target="_blank">
                                        <button type="button" class="btn btn-success border-white">
                                            <span>
                                                <i class="fab fa-whatsapp mr-2"></i></i>+(503) 7771-1861
                                            </span>
                                        </button>
                                    </a>
                        </div>
                        
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center mt-4">
            <h2 class="mt-2"><strong>SERVICIO EN TODO EL PAÍS 24/7 </strong></h2>
            <hr class="linea">
        </div>
    </div>
    <div class="container">
        <div class="row mt-3 mb-3 services-text pt-5 pb-5">
            <div class="col-lg text-center">
                <h2>Solicita Información</h2>
            </div>
            <div class="col-md-auto mr-2 mt-2 text-center">
                <a href="https://api.whatsapp.com/send?phone=50364235306&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios">
                    <button type="button" class="btn btn-success"><i class="fab fa-whatsapp mr-2">                            
                    </i>Escribenos 6423-5306</button>
                </a>
            </div>
            <div class="col-md-auto mr-2 mt-2 text-center">
                <a href="tel:50364235306" target="_blank"">
                    <button type="button" class="btn btn-info"><i class="fas fa-phone-alt mr-2">                            
                    </i>Llamanos 6423-5306</button>
                </a>
            </div>
        </div>
    </div>

<!-- DESPUES DE SERVICIOS -->
    <section>
        <div class="container">
            <div class="text-center">
                <h4><strong>Solucionamos problemas de Fosas Sépticas</strong></h4>
                <hr class="linea">
                <h2 class="lineUp"><strong>Servicios en todo el pais 24/7</strong></h2>
            </div>
        </div>
    </section>
    <div class="container mt-3 mb-2">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-white cardServicios mb-3" style="max-width: 18rem;">
                    <div class="card-header">LIMPIEZA</div>
                    <div class="card-body">
                        <h5 class="card-title">Limpiamos fosas sépticas</h5>
                        <p class="card-text">Personal profesional para la limpieza, ofreciendo servicios de cálidad.</p>
                        <div class="col-md-auto mr-2 mt-2 text-center">
                            <a href="https://api.whatsapp.com/send?phone=50364235306&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios">
                                <button type="button" class="btn btn-success" style="border: 1px solid #fff"><i class="fab fa-whatsapp mr-2">                            
                                </i>Escribenos</button>
                            </a>
                        </div>
                        <div class="col-md-auto mr-2 mt-2 text-center">
                            <a href="tel:50364235306" target="_blank"">
                                <button type="button" class="btn btn-info" style="border: 1px solid #fff"><i class="fas fa-phone-alt mr-2">                            
                                </i>Llamanos</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white cardServicios mb-3" style="max-width: 18rem;">
                    <div class="card-header">MANTENIMINETOS</div>
                    <div class="card-body">
                        <h5 class="card-title">Mantenimientos de Fosas Sépticas</h5>
                        <p class="card-text">Tambien contamos con servicios de mantenimientos.</p>
                        <div class="col-md-auto mr-2 mt-2 text-center">
                            <a href="https://api.whatsapp.com/send?phone=50364235306&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios">
                                <button type="button" class="btn btn-success" style="border: 1px solid #fff"><i class="fab fa-whatsapp mr-2">                            
                                </i>Escribenos</button>
                            </a>
                        </div>
                        <div class="col-md-auto mr-2 mt-2 text-center">
                            <a href="tel:50364235306" target="_blank"">
                                <button type="button" class="btn btn-info" style="border: 1px solid #fff"><i class="fas fa-phone-alt mr-2">                            
                                </i>Llamanos</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white cardServicios mb-3" style="max-width: 18rem;">
                    <div class="card-header">PREVENCION</div>
                    <div class="card-body">
                        <h5 class="card-title">Visitas de Prevención</h5>
                        <p class="card-text">Hacemos visitas de prevención para prevenir futuros problemas en las Fosas Sépticas.</p>
                        <div class="col-md-auto mr-2 mt-2 text-center">
                            <a href="https://api.whatsapp.com/send?phone=50364235306&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios">
                                <button type="button" class="btn btn-success" style="border: 1px solid #fff"><i class="fab fa-whatsapp mr-2">                            
                                </i>Escribenos</button>
                            </a>
                        </div>
                        <div class="col-md-auto mr-2 mt-2 text-center">
                            <a href="tel:50364235306" target="_blank"">
                                <button type="button" class="btn btn-info" style="border: 1px solid #fff"><i class="fas fa-phone-alt mr-2">                            
                                </i>Llamanos</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
<%- include('../includes/end.ejs') %>